# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/cli/main
cmd/cli/cli
cmd/server/main
cmd/server/server

# Dependency directories
vendor/

# IDEs directories
.idea
.vscode
